@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .text-gradient {
    background: linear-gradient(to right, #393630, #855f5f);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
}
